@model IEnumerable<Products>

@{
    Layout = "_AdminLayout";
}

<div>
    <a class="btn btn-success" asp-action="ProductAdd">Добавить продукт</a>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Имя продукта</th>
        <th>Id категории</th>
        <th>Id бренда</th>
        <th>Id доп инфы</th>
        <th>Цена</th>
        <th>Размер</th>
        <th>Рейтинг</th>
    </tr>
    @foreach (Products p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.CategoryId</td>
            <td>@p.BrandId</td>
            <td>@p.OptionsId</td>
            <td>@p.Price</td>
            <td>@p.Size</td>
            <td>@p.Rating</td>

            @if (User.Identity.IsAuthenticated)
            {
                <td><a class="btn btn-danger" asp-action="ProductDelete" asp-route-id="@p.Id">Удалить</a></td>
                <td><a class="btn btn-success" asp-action="ProductUpdate" asp-route-id="@p.Id">Обновить</a></td>
            }
        </tr>
    }
</table>

