@model CRUDVIewModel

@{
    Layout = "_AdminLayout";
}

<h1>Изменение продукта</h1>
<h3>Поле "Изображение" обязательно!</h3>

<div class="row">
    <div class="col-auto">
        <form asp-action="ProductUpdate" method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="@Model.ProductId" value="@Model.Products.First().Id" />

            <label>Название продукта</label>
            <input class="form-control" asp-for="@Model.ProductName" value="@Model.Products.First().Name" />

            <label>Категория</label>
            <select class="form-control" asp-for="CategoryId">
                @foreach (var item in Model.Categories)
                {
                    if (item.Id == Model.Products.First().CategoryId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>

            <label>Бренд</label>
            <select class="form-control" asp-for="BrandId">
                @foreach (var item in Model.Brands)
                {
                    if (item.Id == Model.Products.First().BrandId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>

            <label>Дополнительная информация</label>
            <select class="form-select" asp-for="OptionsId">
                @foreach (var item in Model.Options)
                {
                    if (item.Id == Model.Products.First().OptionsId)
                    {
                        <option value="@item.Id" selected>@item.Description</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Description</option>

                    }
                }
            </select>

            <label>Цена</label>
            <input class="form-control" asp-for="@Model.Price"  value="@Model.Products.First().Price"/>

            <fieldset>
                <label>Изображение</label>
                <input class="form-control" type="file" name="file"/>
            </fieldset>

            <button type="submit" class="btn btn-outline-dark mt-2">Отправить</button>
        </form>
    </div>
</div>

