
@model IEnumerable<Products>

@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col">
        <h1>Продукты</h1>
    </div>
    <div class="col">
        <a class="btn btn-outline-dark mt-2" asp-action="ProductAdd">Добавить продукт</a>
    </div>
</div>

<table class="table">
    <tr>
        <th class="p-2">Id</th>
        <th class="p-2">Имя продукта</th>
        <th class="p-2">Категория</th>
        <th class="p-2">Бренд</th>
        <th class="p-2">Материал</th>
        <th class="p-2">Цвет</th>
        <th class="p-2">Узор</th>
        <th class="p-2">Примечание по уходу</th>
        <th class="p-2">Описание</th>
        <th class="p-2">Цена</th>
    </tr>
    @foreach (Products p in Model)
    {
        <tr>
            <td class="p-2">@p.Id</td>
            <td class="p-2">@p.Name</td>
            <td class="p-2">@p.Categories.Name</td>
            <td class="p-2">@p.Brands.Name</td>
            <td class="p-2">@p.Options.Material</td>
            <td class="p-2">@p.Options.Color</td>
            <td class="p-2">@p.Options.Design</td>
            <td class="p-2">@p.Options.CareNote</td>
            <td class="p-2">@p.Options.Description</td>
            <td class="p-2">@p.Price.ToString("c")</td>
            @if (User.Identity.IsAuthenticated)
            {
                <td><a class="btn btn-outline-dark" asp-action="ProductUpdate" asp-route-id="@p.Id">Изменить</a></td>
                <td><a class="btn btn-outline-danger" asp-action="ProductDelete" asp-route-id="@p.Id">Удалить</a></td>
            }
        </tr>
    }
</table>

