@model IEnumerable<Remains>

@{
    Layout = "_AdminLayout";
}

<div>
    <a class="btn btn-outline-dark" asp-action="RemainsAdd">Добавить остатки</a>
</div>

<table class="table">
    <tr>
        <th class="p-2">Id</th>
        <th class="p-2">Id продукта</th>
        <th class="p-2">Размер</th>
        <th class="p-2">Количество</th>

    </tr>
    @foreach (Remains p in Model)
    {
        <tr>
            <td class="p-2">@p.Id</td>
            <td class="p-2">@p.ProductId</td>
            <td class="p-2">@p.Size</td>
            <td class="p-2">@p.Count</td>


            @if (User.Identity.IsAuthenticated)
            {
                <td><a class="btn btn-outline-dark" asp-action="RemainsUpdate" asp-route-id="@p.Id">Обновить</a></td>
                <td><a class="btn btn-outline-danger" asp-action="RemainsDelete" asp-route-id="@p.Id">Удалить</a></td>
            }
        </tr>
    }
</table>