@model Remains

@{
    Layout = "_AdminLayout";
}
<h1>Изменение остатков @Model.Products.Name</h1>
<div class="row">
    <div class="col-auto">
        <form asp-action="RemainsUpdate" method="post">

            <input type="hidden" asp-for="@Model.Id" />
            <input type="hidden" asp-for="@Model.ProductId" />

            <label>Размер</label>
            <input class="form-control" asp-for="@Model.Size" />

            <label>Остаток</label>
            <input class="form-control" asp-for="@Model.Count" />

            <button type="submit" class="btn btn-outline-dark mt-2">Отправить</button>
        </form>
    </div>
</div>
