@model Options

    <div class="border-bottom border-2 pt-3 pb-1"><h4>Описание:</h4></div>


<div class="row py-2 border-bottom border-2">

    <div class="col">
        <p >Материал:</p>
        <p >Цвет:</p>
        <p >Узор:</p>
        <p >Примечание по уходу:</p>
        <p >Описание:</p>
    </div>

    <div class="col">
        <p>@Model.Material</p>
        <p>@Model.Color</p>
        <p>@Model.Design</p>
        <p>@Model.CareNote</p>
        <p>@Model.Description</p>
    </div>

</div>