@model CartIndexViewModel

<h2>Корзина</h2>

<div class="border">
    <div class="row py-3">

        <div class="col px-4">
            @*<form asp-action="Index" asp-controller="Cart" class="row">
                    <div class="col-5">
                        <input type="hidden" name="flag" value="1" />
                        <input name="Promocodes" class="form-control" placeholder="Введите промокод" />
                        @if (ViewBag.flag == 1)
                        {
                            <p>@ViewBag.PromocodeMessage</p>
                        }
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-dark">Проверить</button>
                    </div>

                </form>*@
        </div>
        <div class="col px-4">
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="Checkout" asp-controller="Order" method="get">
                    <input type="hidden" name="Promocode" value="@ViewBag.Promocode" />
                    <h4 class="text-center">Итого: @Model.Cart.ComputeTotalValue().ToString("c") <button class="btn btn-dark">Заказать</button></h4>

                </form>
            }
            else
            {
                <form asp-action="Login" asp-controller="Account" method="get">
                    <h4 class="text-center">Итого: @Model.Cart.ComputeTotalValue().ToString("c") <button class="btn btn-dark">Заказать</button></h4>
                </form>
            }



        </div>
    </div>

</div>


<table class="table table-bordered table-tripped mt-3">

    <thead>
        <tr>
            <th>Товар</th>
            <th>Размер</th>
            <th>Количество</th>

            <th class="text-right">Цена</th>
            <th class="text-right">Промежуточный мтог</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">
                    @*@Html.Raw("<img style='height:50px; width: 50px' src=\"data:image/jpeg;base64," + Convert.ToBase64String(line.Product.ProductImage) + "\"/>")*@
                    @line.Product.Name
                </td>
                <td class="text-center">@line.Size</td>
                <td class="text-center">@line.Quantity</td>

                <td class="text-center">@line.Product.Price.ToString("c")</td>
                <td class="text-center">@((line.Quantity * line.Product.Price).ToString("c"))</td>
                <td>
                    <form method="post" asp-action="RemoveFromCart">
                        <input type="hidden" name="Id" value="@line.Product.Id" />
                        <input type="hidden" name="Size" value="@line.Size" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-outline-danger btn-sm">Удалить товар</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-right">Итого: </td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<a class="btn btn-outline-dark" asp-action="Catalog" asp-controller="Catalog">Вернуться в каталог</a>